<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    {%block css_tag%}{%endblock%}
    <title>{% block title %}Quiz App{% endblock %}</title>
</head>

<body>
    <header>
        {% block navbar %}nav-bar{%endblock%}
        <!-- <nav>
            <h1>Quiz App</h1>
            <ul class="main-links">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('history')}}">History</a></li>
                <li><a href="{{url_for('submitqa')}}">Submit</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
            <ul class="auth-links">
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('signup')}}">SignUp</a></li>
            </ul>
        </nav> -->
    </header>
    <main>
        {%block body%}{%endblock%}
    </main>
    <footer>
        <footer class="footer">
            <div class="footer-left">
                © SYED HASEEB SHAH
            </div>
            <div class="footer-center">
                <a href="https://instagram.com/hxseeb._19" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/syedhaseebshah19/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://youtube.com/@codingsheep17" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://github.com/codingsheep17" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <div class="footer-right">
                <p class="my-2"><strong>codingsheep17@gmail.com</strong></p>
            </div>
        </footer>
</body>

</html>